<extend name="Common/index"/>
<block name="content">
    <div class="bjlist">
        <p>直播列表-编辑</p>
        <form class="form-inline">
            <div class="form-group">
                <label for="member">用户ID</label>
                <input type="text" class="form-control" id="member" disabled placeholder=" JiE ( 8604 )">
                <span>*</span>
            </div>
            <div class="form-group">
                <label for="Name">视频地址</label>
                <input type="email" class="form-control" id="Name"  placeholder="rtmp://democdn.yunbaozhibo.com/5showcam/9035_1494463773">
                <span>*</span>
            </div>
            <div class="btns">
                <button type="button" class="btn btn-info">编辑</button>
                <button type="button" class="btn btn-default">返回</button>
            </div>
        </form>
    </div>
</block>