<extend name="Common/index"/>
<block name="content">
<div class="giftlist">
    <p class="rec_pa">编辑礼物列表</p>
    <div class="zblist_main">
        <form  class="form-inline" action="{:U('update')}" method="post" enctype="multipart/form-data" >
            <volist name="gift" id="gift">
                <div class="form-group">
                    <label for="id">礼物序号</label>
                    <input type="text" class="form-control" name="id" disabled id="id" value="{$gift['gift_type']}">
                    <span>*</span>
                </div>
                <div class="form-group">
                    <label for="type">礼物类型</label>
                    <input type="text" class="form-control" name="type" id="type" value="{$gift['batch']}">
                    <span>*</span>
                </div>
                <div class="form-group">
                    <label for="name">礼物名称</label>
                    <input type="text" class="form-control" name="name" id="name" value="{$gift['name']}">
                    <span>*</span>
                </div>
                <div class="form-group">
                    <label for="kubi">所需酷币</label>
                    <input type="text" class="form-control" name="kubi" id="kubi" value="{$gift['price']}">
                    <span>*</span>
                </div>
                <div class="btns">
                    <button value="{$gift['gift_type']}" name="gifttype" class="btn btn-info">完成</button>
                </div>
            </volist>
        </form>
    </div>
</div>
</block>