<extend name="Common/index"/>
<block name="content">
    <div class="expensecalendar">
    <p class="rec_pa">消费记录</p>
    <div class="expensecalendar_main">
        <!--<div class="user_kuai1">-->
            <!--<p class="user_pb">赠送时间：</p>-->
            <!--<input class="form-control"  type="text" id="J-xl">-->
            <!--<p class="user_pc">—</p>-->
            <!--<input class="form-control"  type="text" id="J-x2">-->
        <!--</div>-->
        <div class="user_kuai1">
            <form class="form-inline" action="{:('expensecalendar')}" method="get">
                <div class="form-group">
                    <label class="sr-only"></label>
                    <p class="form-control-static">用户昵称：</p>
                </div>
                <div class="form-group">
                    <input type="text" name="title" value="{$file['nickname']}" class="form-control" id="inputPassword2" placeholder="输入昵称">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
        </div>
    </div>
    <form action="">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>会员ID</th>
                <th>会员昵称</th>
                <th>礼物名称</th>
                <th>礼物数量</th>
                <th>礼物价值</th>
                <th>主播ID</th>
                <th>主播昵称</th>
                <th>赠送时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <volist name="deal" id="ddd">
                <tr>
                    <td>{$ddd['from_user_id']}</td>
                    <td>{$ddd['nickname']}</td>
                    <td>{$ddd['name']}</td>
                    <td>{$ddd['number']}</td>
                    <td>{$ddd['price']}</td>
                    <td>{$ddd['to_user_id']}</td>
                    <td>{$ddd['nickname']}</td>
                    <td>{$ddd['pay_time']|date="Y-m-d H:i:s",###}</td>
                    <td>
                        <a href="">操作</a>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
    </form>
    <div class="pagination">
        {$page_html}
    </div>
</div>
</block>