<extend name="Common/index"/>
<block name="content">
<div class="showrecords">
    <p class="rec_pa">提现记录详情</p>

    <form action="">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>会员ID</th>
                <th>昵称</th>
                <th>序号</th>
                <th>提现时间</th>
                <th>成功提现时间</th>
                <th>提现的金额</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>李炎炎 </td>
                <td>8234_20170504151302744</td>
                <td>2017-5-8</td>
                <td>2017-5-10</td>
                <td>1</td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</block>