<extend name="Common/index"/>
<block name="content">
    <div class="theeditor">
        <button type="button" class="btn btn-info">添加</button>
        <form action="">
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>酷币</th>
                    <th>RMB</th>
                    <th>操作</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>66酷币</td>
                    <td>1RMB </td>
                    <td><a href="">删除</a></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</block>