<extend name="Common/index"/>
<block name="content">
<div class="topuprules">
    <p class="rec_pa">充值规则</p>
    <form action="">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>序号</th>
                <th>ID</th>
                <th>名称</th>
                <th>库币</th>
                <th>价格</th>
                <th>苹果支付价格</th>
                <th>苹果项目ID</th>
                <th>赠送时间</th>
                <th>操作</th>

            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>1 </td>
                    <td>登录奖励</td>
                    <td>600</td>
                    <td>600（9）</td>
                    <td>600</td>
                    <td>coin.600</td>
                    <td>2017-05-0416：34：33</td>
                    <td>
                        <a href="{:U('theeditor')}">编辑</a>
                        <a href="">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1 </td>
                    <td>登录奖励</td>
                    <td>600</td>
                    <td>600（9）</td>
                    <td>600</td>
                    <td>coin.600</td>
                    <td>2017-05-0416：34：33</td>
                    <td>
                        <a href="{:U('theeditor')}">编辑</a>
                        <a href="">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1 </td>
                    <td>登录奖励</td>
                    <td>600</td>
                    <td>600（9）</td>
                    <td>600</td>
                    <td>coin.600</td>
                    <td>2017-05-0416：34：33</td>
                    <td>
                        <a href="{:U('theeditor')}">编辑</a>
                        <a href="">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1 </td>
                    <td>登录奖励</td>
                    <td>600</td>
                    <td>600（9）</td>
                    <td>600</td>
                    <td>coin.600</td>
                    <td>2017-05-0416：34：33</td>
                    <td>
                        <a href="{:U('theeditor')}">编辑</a>
                        <a href="">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1 </td>
                    <td>登录奖励</td>
                    <td>600</td>
                    <td>600（9）</td>
                    <td>600</td>
                    <td>coin.600</td>
                    <td>2017-05-0416：34：33</td>
                    <td>
                        <a href="{:U('theeditor')}">编辑</a>
                        <a href="">删除</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </form>
    <div class="pagination">
        {$page_html}
    </div>
</div>
</block>