<extend name="Common/index"/>
<block name="content">
<div class="zblist">
    <p class="rec_pa">通告报名</p>
    <div class="zblist_main">
        <div class="user_kuai1">
            <form class="form-inline" action="{:('Bjalerts')}" method="get">
                <div class="form-group">
                    <label class="sr-only"></label>
                    <p class="form-control-static">关键字：</p>
                </div>
                <div class="form-group">
                    <input type="text" name="title" value="{$file['nickname']}" class="form-control" id="inputPassword2" placeholder="输入标题关键字">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
        </div>
    </div>
    <form action="">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th width="15">
                    <label>
                        <input type="checkbox" class="js-check-all" id="input-all">
                    </label>
                </th>
                <th>ID</th>
                <th>名称</th>
                <th>发布时间</th>
                <th>结束时间</th>
                <th>报名人数</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <volist name="rows" id="bjtg">
            <tr>
                <td>
                    <input type="checkbox" class="js-check" name="ids[]" value="{$tot['user_id']}">
                </td>
                <th>{$bjtg['schedule_id']}</th>
                <td>{$bjtg['schedule_title']}</td>
                <td>{$bjtg['createtime']|date="Y-m-d H:i:s",###}</td>
                <td>{$bjtg['acttime']|date="Y-m-d H:i:s",###}</td>
                <td>{$bjtg['tot']}</td>
                <td>
                    <a href="">详情</a>
                    <!--<a href="">删除</a>-->
                </td>
            </tr>
            </volist>
            </tbody>
        </table>
    </form>
    <div class="pagination">
        {$page_html}
    </div>
</div>
</block>