<extend name="Common/index"/>
<block name="content">
<div class="zblist">
    <p class="rec_pa">负约通告详情</p>
    <div class="zblist_main">
        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only"></label>
                <p class="form-control-static">关键字：</p>
            </div>
            <div class="form-group">
                <label for="inputPassword2" class="sr-only">关键字</label>
                <input type="text" class="form-control" id="inputPassword2" placeholder="关键字">
            </div>
            <button type="submit" class="btn btn-default">搜索</button>
        </form>
    </div>
    <form action="">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th width="15">
                    <label>
                        <input type="checkbox" class="js-check-all" id="input-all">
                    </label>
                </th>
                <th>ID</th>
                <th>通告名称</th>
                <th>发布时间</th>
                <th>截止时间</th>
                <th>负约人数</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <volist name="fuy" id="fy">
                <tr>
                    <td>
                        <input type="checkbox" class="js-check" name="ids[]" value="{$fy['user_id']}">
                    </td>
                    <td>{$fy['schedule_id']}</td>
                    <td>{$fy['schedule_title']}</td>
                    <td>{$fy['createtime']|date="Y-m-d H:i:s",###}</td>
                    <td>{$fy['acttime']|date="Y-m-d H:i:s",###}</td>
                    <td>{$fy['tot']} </td>
                    <td>
                        <a href="{:U('details2',['schedule_id'=>$fy['schedule_id']])}">详情</a>
                        <!--<a href="">删除</a>-->
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
    </form>
</div>
</block>