<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="__PUBLIC__/dist/styles/normalize.css"/>
    <link rel="stylesheet" href="__PUBLIC__/dist/styles/bootstrap.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/dist/styles/login.min.css"/>
</head>
<body>
    <div class="main">
        <p class="main_pa">演库</p>
        <div class="main_d">
            <p class="main_pb">管理员登录</p>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">账号：</span>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">密码：</span>
                <input type="password" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>
            <button type="button" class="btn btn-info">登录</button>
        </div>
    </div>
</body>
</html>